.sidebarOptions {
    display: flex;
    flex-direction: column;
}

.sidebarOption {
    display: flex;
    align-items: center;
    padding:10px;
    cursor:pointer;
}

.sidebarOption:hover {
    background-color: lightgray;
    border-radius: 5px;
}
.sidebarOption > img {
    height:30px;
    margin-left: 10px;
    border-radius: 5px;
}
.sidebarOption > p {
    color: black;
    font-weight: 400;
    margin-left: 10px;
}

.sidebarOption > .MuiSvgIcon-root {
    color:yellowgreen;
    font-size:large;
    /* margin-left: 10px; */
    margin: 0 19px;
}

.sidebarUserInfo { 
    display: flex;
    align-items: center;
}

.sidebar > div > div:nth-child(1) > div > p:nth-child(2){
    margin-left: 14px;
    font-size: large;
    font-weight: bold;
}
.sidebarFirst{
    /* border-bottom: 1px solid lightgray; */
    border: 1px solid lightgray;
    background-color: white;
    margin: 0 8px 8px 8px;
}